.CharacterDetail {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
   
    
}
h1{
  
width: 500%;
text-align: center;
  display: block;
 
}

.container-detail{
    width: 60%;
    justify-content: center;
    margin-top: 50px;
    /* border:solid 2px white; ; */
}


.CharacterDetail__Photo{
    width:  20%;
    border: solid 2px white;
   
}

.name{
    font-size: 30px; 
}