.Characters {
  width: 100%;
  margin: auto;
  text-align: center;
}

.search {
  font-size: 22px;
}

.container-card {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.cards {
  justify-items: center;
}

.card {    
  justify-items: center;
  margin: 20px 5px 20px 5px;
  /* width: 25rem; */
  border-radius: 6px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.104);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.death {
  opacity: 0;
  height: 270px;
  width: 180px;
  margin-top: -250px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.5s;

}
.death:hover {
  transition: all 0.5s;
  opacity: 1;
}

.card img {
  height: 210px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  cursor: pointer;
}

.paginacion {
  background-color: rgba(255, 255, 255, 0.326);
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 30px;
  justify-content: center;
}

.paginacion a {
  width: 100px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: brown;
  font-size: 19px;
  transition: 0.2s Linear;
  text-decoration: none;
}
.paginacion button {
  background-color: #2fb4cc;
  cursor: pointer;
}

.paginacion a:hover {
  background-color: #2fb4cc;
  color: white;
}

.espacio {
  margin-top: 5px;
}